h1{
    text-align: center;
}
#maincontent{
    margin:10px 30px;
    padding: 15px 30px;
    background-color: rgb(199, 202, 200);
    line-height: 20px;
    border: 4px solid black;
    border-radius: 15px;

}
#image{
    display: inline-block;
    padding: 0 204px;

}
#img_discription{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;

}
#subheading{
    text-align: center;
}
.bottom{
    background-color: aqua;
    color: black;
font-size: 13px;
}
